// desktop para mobile
$desktop-breakpoint: 768px;
$desktop-small-breakpoint: 900px;

// paleta

$background-color: #121212;

$container-border-radius: 10px;

$text-primary-color: white;
$text-secondary-color: #b3b3b3;
